@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

.App {
  background-color: #dddddd;
  width: 100%;
  min-height: 100vh;
  // max-width: 600px;
  // margin: 0 auto;
}

.App-header {
  background-color: #dddddd;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: #000000;
}

.App-body {
  background-color: #dddddd;
}

.App-header-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  font-size: 28px;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.App-button {
  border-radius: 30px;
  display: block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all .35s;
}

.App-button span {
  position: relative;
  z-index: 2;
}

.App-button:after {
  border-radius: 20px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 45px;
  overflow: hidden;
  background: black;
  transition: all .35s;
}

.App-button:hover {
  color: #fff;
}

.App-button:hover:after {
  width: 100%;
}