@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

.App {
  background-color: #dddddd;
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

.App-header {
  background-color: #dddddd;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: #000000;
}

.App-body {
  background-color: #dddddd;
  font-size: 100px;
  font-weight: 600;
  padding: 100px 60px;
}

.App-second-description {
 font-size: 32px;
 font-weight: 400;
 padding-top: 60px;
 max-width: 700px;
}

.App-header-box {
  display: flex;
  justify-content: space-between;
  padding: 50px 60px;
  font-size: 48px;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.App-button {
  border-radius: 30px;
  display: block;
  width: 140px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all .35s;
}

.App-button span {
  position: relative;
  z-index: 2;
}

.App-button:after {
  border-radius: 19px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 60px;
  overflow: hidden;
  background: black;
  transition: all .35s;
}

.App-footer {
  text-align: center;
  width: 100%;
}

.App-footer-get-in-touch {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.App-button:hover {
  color: #fff;
}

.App-button:hover:after {
  width: 100%;
}

@media (max-width: 1150px) {
  .App-body {
    font-size: 90px;
  }
  .App-second-description {
    font-size: 28px;
  }
}

@media (max-width: 1100px) {
  .App-body {
    font-size: 85px;
  }
  .App-second-description {
    font-size: 28px;
  }
}

@media (max-width: 1000px) {
  .App-body {
    font-size: 80px;
  }
  .App-second-description {
    font-size: 28px;
  }
}

@media (max-width: 900px) {
  .App-body {
    font-size: 75px;
  }
  .App-second-description {
    font-size: 28px;
  }
}


@media (max-width: 850px) {
  .App-body {
    font-size: 65px;
  }
  .App-second-description {
    font-size: 28px;
  }
}

@media (max-width: 750px) {
  .App-body {
    font-size: 60px;
  }
  .App-second-description {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .App-body {
    font-size: 45px;
  }
  .App-second-description {
    font-size: 18px;
  }
}


@media (max-width: 600px) {
  .App-body {
    font-size: 40px;
  }
  .App-second-description {
    font-size: 14px;
    padding-top: 40px;
  }
  .App-contact-button-wrapper {
    padding-top: 20px;
  }
  .App-header-box {
    font-size: 38px;
  }
}

@media (max-width: 500px) {
  .App-body {
    font-size: 30px;
  }
  .App-second-description {
    font-size: 10px;
    padding-top: 20px;
  }
}